@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fredoka:wght@300..700&display=swap');

/* .fredoka-<uniquifier> {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

button:hover {
  cursor: pointer;
}


body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  background-color: #f3f3f3;
  font-weight: 400;
}



p {
  margin: 0;
}

a {
  text-decoration:none;
  color: #212126;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'EB Garamond', sans-serif;
  font-size: 80px;
  color: #F3F3F3;
  font-weight: 400;
  line-height: auto;
}

h2 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type:none;
}



.main {
  font-family: "Fredoka", sans-serif;
  background-color: #333333;
  color: #f3f3f3;
  text-align: center;
  padding-bottom: 50px;;
}




/* ------------------------header----------------------- */

.header__container {
  margin: 50px 140px;
  display: flex;
  font-size: 26px;
  align-items: center;
  justify-content: center;
}

.logo {

}

.header__city {
  display: flex;
  padding-left: 45px;
  height: 35px;
}

.header__city img {
  width: 30px;
  height: fit-content;
}

.header__nav {
  padding-left: 100px;
}

.header__nav ul{
  display: flex;
  gap: 30px;
  justify-content: center;
}



.header__nav-list {
  
}

.header__controls {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 40px;
}

/* ----------------main------------------ */


.welcome h3 {
  font-size: 30px;
}

.welcome a {
  color: #212126;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}

.discount-link {
  padding: 15px 35px;
  border-radius: 10px;
  font-size: 20px;
  display: inline-block;
  margin: 20px 0;
}

.slider__card {
  width: 235px;
  border: 1px solid #f3f3f3 ;
  position: relative;
  border-radius: 10px;
}

.goods-img {
  padding-top: 15px;
}

.favorite {
  width: 40px;
  position: absolute;
  
  margin: 10px 25px;
}

.card__price {
  display: flex;
  gap: 10px;
  justify-content: center;
  
}

.old-price {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}

.basket-btn {
  padding: 5px 25px;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
}

.slider {
  gap: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

.arrow-left {
  width: 40px;
  left: 20%;
  bottom: 160px;
  position: absolute;
}

.arrow-right {
  width: 40px;
  right: 18%;
  bottom: 160px;
  position: absolute;
}


.bestsellers {
  margin-top: 50px;
}

.about {
  margin-top: 50px;
}

.about p {
  width: 600px;
  text-align: left;
  line-height: 1.6;
  font-size: 24px;
}

.about__wrap {
  display: flex;
  justify-content: center;
}
.about__wrap img {
  padding-left: 50px;
}


.review {
  margin-top: 50px;
}

.review__cards-wrap {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.review__card {
  background-color: #f3f3f3;
  width: 300px;
  height: 400;
  border-radius: 10px;
}

.review__card img {
  margin: 20px 0;
}

.review__name {
  font-weight: 500;
  font-size: 25px;
  color: #212126;
  margin-bottom: 10px;
}

.review__subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #212126;
  margin-bottom: 20px;
}

.review__text {
  font-weight: 400;
  font-size: 20px;
  color: #212126;
  margin: 0 20px;
  margin-bottom: 20px;
}

/* ------------------footer------------------- */

.footer {
  font-size: 20px;
  margin-top: 50px;
}

.footer__container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.footer__call {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__call img {
  width: 90px;
  display: inline-block;
}

.footer__call-btn {
  background-color: #333333;
  color: #F3F3F3;
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
}

.footer h3 {
  margin: 0;
  color: #212126;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__list li {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}

.footer__socials {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.footer__socials-wrap {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
