@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fredoka:wght@300..700&display=swap');


html { scroll-behavior: smooth; }

.no-scroll {
  overflow: hidden;
}

.none {
  display: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  cursor: default;
}

p {
  margin: 0;
  cursor: default;
}

.btn:hover {
  cursor: pointer;
}


.body {
  padding: 0;
  margin: 0;
  font-family: "Fredoka", sans-serif;
  background-color: #f3f3f3;
  font-weight: 400;
  overflow-x: hidden;
}

.parallax {
  background-image: url('./img/bg.png');
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.link {
  text-decoration: none;
  color: #212126;
}

.link:hover {
  color: #636363;
}

.link:active{
  color: #9c9c9c;
}



.svg__link {
  fill: #333333;
}



.svg__link:hover {
  fill: #636363;
}

.svg__link:active {
  fill: #9c9c9c;
}


.title {
  font-weight: 400;
  font-size: clamp(1.875rem, 1.6549rem + 0.939vw, 2.5rem);
  margin-bottom: 20px;
}

.main__bg {
  background-color: #333333;
}

.main {
  position: relative;
  color: #f3f3f3;
}

.logo {
  width: 93px;
}

/* ------------------------header----------------------- */

.header {
  padding: 3.4725%;
  display: flex;
  font-size: clamp(1rem, 0.7799rem + 0.939vw, 1.625rem);
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.header__city-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__city {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__map-svg {
  width: 30px;
  height: fit-content;
}

.header__nav {
  margin-left: 5%;
}

.header__nav-list {
  display: flex;
  gap: 30px;
}

.header__controls {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 2%;
}

.burger {
  border: none;
  padding: 0;
  margin-left: 10%;
  display: none;
}



.bureger__menu {
  width: 56px;
  height: 44px;
  display: block;
  position: relative;
}

.burger__line {
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 20px;
  width: 30px;
  position: absolute;
  top: 45%;
  right: 0;
}
.bureger__menu::after {
  content: "";
  border: 3px solid #333333;
  border-radius: 20px;
  width: 40px;
  top: 0;
  right: 0;
  position: absolute;
}
.bureger__menu::before {
  content: "";
  border: 3px solid #333333;
  border-radius: 20px;
  width: 40px;
  bottom: 0;
  right: 0;
  position: absolute;
}

.header__menu {
  width: 300px;
  background-color: #9c9c9c;
  color: #F3F3F3;
  font-size: clamp(1.25rem, 1.118rem + 0.5634vw, 1.625rem);
  position: fixed; 
  border-radius: 20px 0px 0px 20px;
  top: 30px;
  right: -300px; 
  transition: right 0.5s cubic-bezier(0.5, 0.5, 0.4, 1.2); 
}

.header__menu.active {
  right: 0; 
}

.header__menu-title {
  display: flex;
  justify-content: space-between;
}

.icon--menu-close {
  cursor: pointer;
}

.header__menu .link {
  color: #F3F3F3;
  
}
.header__menu-title{
  background-color: #333;
  padding: 15px 15px;
  border-top-left-radius: 20px;
}

.header__menu-nav {
  display: block;
  padding: 15px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__menu-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 15px;
}

/* ----------------main------------------ */

.welcome {
  text-align: center;
}

.welcome__animation {
  width: fit-content;
  position: relative;
  margin: 0 auto;
}

.welcome__store-svg {
  animation: store 0.5s infinite linear;
}

.welcome__animation-svg {
  position: absolute;
  left: -115px;
  top: -30px;
  
}

.welcome__animation-svg::before {
  content: url(./img/svg/note.svg);
}

.welcome__animation-svg::after {
  content: url(./img/svg/note.svg);
}

@keyframes store {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(15deg);
  }
}

.welcome__animation-svg::before {
  content: url(./img/svg/note.svg);
  position: absolute;
  top: -30px;
  left: 10px;
  animation: note1 1.5s infinite linear;
}

.welcome__animation-svg::after {
  content: url(./img/svg/note.svg);
  position: absolute;
  top: -30px;
  left: 50px;
  animation: note2 1.5s infinite linear 0.5s;
}

@keyframes note1 {
  0% {
    top: -30px;
    left: 10px;
    opacity: 1;
  }
  30% {
    top: -35px;
    left: 5px;
    opacity: 0.8;
  }
  50% {
    top: -40px;
    left: 0px;
    opacity: 0.5;
  }
  70% {
    top: -45px;
    left: -5px;
    opacity: 0.3;
  }
  90% {
    top: -50px;
    left: -10px;
    opacity: 0.1;
  }
  100% {
    top: -60px;
    left: -20px;
    opacity: 0; 
  }
}

@keyframes note2 {
  0% {
    top: -30px;
    left: 50px;
    opacity: 1;
  }
  30% {
    top: -35px;
    left: 55px;
    opacity: 0.8;
  }
  50% {
    top: -40px;
    left: 60px;
    opacity: 0.5;
  }
  70% {
    top: -45px;
    left: 65px;
    opacity: 0.3;
  }
  90% {
    top: -50px;
    left: 70px;
    opacity: 0.1;
  }
  100% {
    top: -60px;
    left: 80px;
    opacity: 0;
  }
}


.welcome__title {
  font-family: 'EB Garamond', serif;
  font-size: clamp(3.75rem, 3.3099rem + 1.8779vw, 5rem);
  font-weight: 400;
  position: relative;
}

.welcome__subtitle {
  font-weight: 400;
  font-size: clamp(1.25rem, 1.0299rem + 0.939vw, 1.875rem);
  position: relative;
}




.welcome__link {
  padding: 15px 35px;
  border-radius: 10px;
  font-size: clamp(0.9375rem, 0.8275rem + 0.4695vw, 1.25rem);
  display: inline-block;
  margin: 20px 0;
  background-color: #f3f3f3;
  transition: 0.5s;
}

.welcome__link:hover {
  scale: 1.2;
  color: #f3f3f3;
  background-color: #636363;
}


.slider__card {
  width: 235px;
  border: 1px solid #f3f3f3;
  position: relative;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #333333a8;
}

.slider__favorite {
  width: 40px;
  position: absolute;
  margin: 0 25px;
}

.slider__favorite-icon {
  fill: #f3f3f3;
  transition: 0.5s;
}

.slider__favorite-icon:hover {
  fill: #636363;
  scale: 1.1;
}




.slider__card-price {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.card__price--old {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}

.slider__card-button {
  padding: 5px 25px;
  margin: 10px;
  border-radius: 10px;
  font-size:16px;
  border: none;
  transition: 0.5s;
}

/* --------------------------(JS) При нажатии кнопка переворачивается и меняется текст------------------------- */

.slider__card-button:hover {
  color: #f3f3f3;
  background-color: #636363;
  scale: 1.2;
}



.slider {
  gap: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}

.slider__arrow-left {
  width: 40px;
  left: 50px;
  bottom: 160px;
  position: absolute;
}

.slider__arrow-right {
  width: 40px;
  right: 50px;
  bottom: 160px;
  position: absolute;
}

.bestsellers {
  padding-top: 50px;
  text-align: center;
}

.bestsellers__title {
  font-weight: 400;
  font-size: clamp(1.875rem, 1.6549rem + 0.939vw, 2.5rem);
  margin-bottom: 20px;
}

.about {
  padding-top: 50px;
  text-align: center;
}

.about__text {
  width: 600px;
  text-align: left;
  line-height: 1.6;
  font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  margin-left: 30px;
  padding: 0 15px;
}

.about__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}



.about__img-wrap {
  position: relative;
  height: 420px;
  min-width: 565px;
  text-align: left;
  padding-left: 100px;
  margin-right: 20px;
}

.about__img-wrap::after {
  content: url('./img/index-img/linkin-park.png');
  position: absolute;
  transform: translate(-370px,200px);
}

.about__img-wrap::before {
  content: url('./img/index-img/the-hatters.png');
  position: absolute;
  transform: translate(230px,100px);
}

.review {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.review__cards-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 12.5%;
  gap: 30px;
}

.review__card {
  display: block;
  background-color: #f3f3f3;
  width: 300px;
  border-radius: 10px;
  min-height: 400px;
  overflow: auto;
}

.avatar {
  margin: 20px 0;
  width: 100px;
}

.review__name {
  font-weight: 500;
  font-size: clamp(1.125rem, 0.971rem + 0.6573vw, 1.5625rem);
  color: #212126;
  margin-bottom: 10px;
}

.review__subtitle {
  font-weight: 500;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  color: #212126;
  margin-bottom: 20px;
}

.review__text {
  font-weight: 400;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  color: #212126;
  margin: 0 20px;
  margin-bottom: 20px;
}

/* ------------------footer------------------- */

.footer {
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  margin-top: 50px;
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 0 5%;
  flex-wrap: wrap;
}

.footer__call {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__logo {
  width: 90px;
  display: inline-block;
}

.footer__call-btn {
  background-color: #333333;
  color: #F3F3F3;
  border: none;
  border-radius: 10px;
  padding: 15px 15px;
  font-family: 'Fredoka', sans-serif;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  transition: 0.5s;
}

.footer__call-btn:hover {
  scale: 1.020;
  color: #333333;
  background-color: #636363;
  cursor: pointer;
}

.footer__call-btn:active {
  scale: 1.020;
  color: #9c9c9c;
  background-color: #212126;
  cursor: pointer;
}

.footer__title {
  margin: 0;
  color: #212126;
  font-family: 'Fredoka', sans-serif;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  font-weight: 700;
  padding-bottom: 20px;
}

.footer__item {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__socials-link {
  transition: 0.5s;
}

.footer__socials-link:hover {
  scale: 1.2;
}

.footer__socials-wrap {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.footer__dropdown {
  display: initial;
  background-color: #333;
  border-radius: 5px;
  width: 200px;
  padding: 5px;
  height: 240px; 
  overflow: hidden; 
  box-sizing: border-box;
  display: none;
}

.footer__dropdown-toggle {
  display: none;
}

.footer__dropdown-header {
  color: #F3F3F3;
  padding: 10px;
  cursor: pointer;
  margin: 0;
  display: block;
  position: relative;
}

.footer__dropdown-header:hover::after,
.footer__dropdown-toggle:checked + .footer__dropdown-header::after {
  transform: rotate(180deg); 
}

.footer__dropdown-header::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f3f3f3;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.footer__dropdown-header:hover::after,
.footer__dropdown-toggle:checked + .footer__dropdown-header::after {
  transform: scaleX(1);
}

.footer__dropdown-content {
  max-height: 0; 
  overflow-y: hidden; 
  margin-top: 5px;
  background-color: #333333; 
  border-radius: 5px;
  transition: max-height 0.5s ease; 
}

.footer__dropdown-toggle:checked + .footer__dropdown-header + .footer__dropdown-content {
  max-height: 150px;
  overflow-y: auto; 
}

.footer__dropdown-content a {
  color: #f3f3f3;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.footer__dropdown-content a:hover {
  background-color: #636363;
}


.footer__dropdown-content::-webkit-scrollbar {
  width: 8px; 
}

.footer__dropdown-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.322); 
  border-radius: 5px; 
}

.footer__dropdown-content::-webkit-scrollbar-thumb {
  background-color: #636363; 
  border-radius: 5px; 
}

.footer__dropdown-content::-webkit-scrollbar-thumb:hover {
  background-color: #858585; 
}


.modal__wrap {
  max-width: 600px;
  width: 90%;
  background-color: #f3f3f3;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  border-radius: 10px;
  transform-origin: center;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
  position: relative;
  margin: 15px;
}

.modal__form-input::placeholder { 
  color: #f3f3f3;
  opacity: 0.7;
}

.modal__title {
  font-weight: 400;
  font-size: 26px;
  color: #F3F3F3;
  background-color: #333333;
  padding: 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: left;
}

.modal__form-input {
  width: 100%;
  max-width: 560px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #333333;
  color: #f3f3f3;
  font-size: 20px;
  box-sizing: border-box;
  padding-left: 15px;
}

.modal__form-input:focus-visible {
  outline: none;
}

input[type="date" i]::-webkit-calendar-picker-indicator { 
  padding-right: 15px;
  background-image: url('./img/svg/calendar.svg');
}

input::-webkit-datetime-edit { 
  opacity: 0.7;
}

.modal__form-comment {
  width: 100%;
  max-width: 560px;
  height: 200px;
  padding-top: 10px;
  resize: none;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 20px;
}

.modal__btn {
  width: 100%;
  max-width: 165px;
  height: 50px;
  border: none;
  background-color: #333;
  color: #F3F3F3;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.5s;
}

.modal__btn:hover {
  scale: 1.020;
  color: #333333;
  background-color: #636363;
  cursor: pointer;
}

.modal__btn:active {
  scale: 1.020;
  color: #9c9c9c;
  background-color: #212126;
  cursor: pointer;
}

.modal__exit {
  position: absolute;
  top: -75px;
  right: -10px;
  background-color: transparent;
  border: none;
  padding: 10px;
  transition: 0.2s;
}

.modal__exit:hover {
  transform: rotate(180deg);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500; 
}

/* ---------------------------------------- adaptive ------------------------------------------------- */
@media (max-width:1300px) {
  
  .slider__card:nth-child(3) {
    display: none;
  }

  

}

@media (max-width:1130px) {
  
  .about__wrap {
    flex-direction: column;
    gap: 10px;
  }

  .about__text {
    text-align: center;
  }

  .about__img-wrap {
    margin: 0;
    padding: 0;
    min-width: 660px;
    height: 340px;
  }

  .about__img-wrap::before {
    transform: none;
    left: 330px;
  }
  .about__img-wrap::after {
    transform: none;
    top: 120px;
    left: 165px;
  }

  .about__text {
    width: auto;
    margin: 0;
  }

  .review__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    flex-grow: 1;
  }

  .review__cards-wrap {
    flex-wrap: wrap
  }


}

@media (max-width:1110px) {
  

  .header__nav-list {
    gap: 15px;
  }
}

@media (max-width:1065px) {
  
  .burger {
    display: block;
  }

  .header__controls {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__controls {
    gap: 30px;
    margin: 0;
  }

  .header {
    justify-content: space-around;
  }

  .footer {
    gap: 20px;
  }
}



@media (max-width:1000px) {
  
  .slider__card:nth-last-child(-n+1) {
    display: none;
  }

  

}


@media (max-width:925px) {
  .footer__categories {
    display: none;
  }
  .footer__info {
    display: none;
  }

  .footer__dropdown {
    display: block;
  }

  .slider__card-button {
    display: none;
  }
}

@media (max-width:786px) {
  .slider__arrow-right {
    display: none;
  }

  .slider__arrow-left {
    display: none;
  }
}


@media (max-width:720px) {
  
  

  .welcome__store-svg {
    display: none;
  }

  .welcome__animation-svg::before {
    display: none;
  }

  .welcome__animation-svg::after{
    display: none;
  }

  .about__img-wrap {
    min-width: 330px;
    height: 675px;
  }

  .about__img-wrap::before{
    left: 0;
    top: 225px;
  }

  .about__img-wrap::after{
    left: 0;
    top: 450px;
  }

}


  @media (max-width:550px) {
    .header__city {
      display: none;
    }

    .slider__card:nth-last-child(-n+2) {
      display: none;
    }

  }


  


@media (max-width:401px) {
  .footer__logo {
    display: none;
  }

  .header .logo {
    width: 73px;
  }

  .header__controls {
    padding-left: 10px;
  }

  .burger {
    margin-left: 5%;
    padding-right: 20px;
  }
}






